{% extends 'base.html'%} {% block title %}Home{% endblock %} {% block main %}
<div class="container">
  <h1 class="display-1">Introduction</h1>
  <p class="lead d-flex justify-content-center">
    Road accidents in India have become a major public health concern, with
    thousands of people losing their lives and many more suffering injuries
    every year. The country has one of the highest rates of road accidents in
    the world, with a significant proportion of them being attributed to human
    error, poor infrastructure, and non-adherence to traffic rules. Analyzing
    road accidents in India is crucial to understand their causes and develop
    effective strategies to prevent them. It requires collecting and analyzing
    data on various factors, such as the type of vehicles involved, location,
    time of day, weather conditions, and driver behavior. Through such analysis,
    policymakers can identify patterns and trends in road accidents and devise
    interventions to address them. This introduction sets the stage for
    exploring the problem of road accidents in India and the importance of
    analyzing them to find solutions. By understanding the causes and
    consequences of road accidents, we can take steps to prevent them and create
    safer roads for everyone.
  </p>
</div>
{% endblock %}
