{% extends 'base.html'%} {% block title %}Home{% endblock %} {% block main %}
<style>
  .card {
    width: 600px;
    height: 600px;
  }
  .card img {
    width: 900px;
    height: 500px;
  }
</style>
<div class="container">
  <h1 class="display-1">Home page</h1>
  <div class="row mt-2 mb-2 d-flex mx-auto">
    <div class="card col-6">
      <img src="../static/images/area.png" alt="" class="img-fluid" />
    </div>
    <div class="col-6"></div>
  </div>
  <div class="row mt-2 mb-2 d-flex mx-auto">
    <h1 class="display-2">Accidents</h1>
    <div class="card col-6">
      <img src="../static/images/area_2018.png" alt="" class="img-fluid" />
    </div>
    <div class="col-6">
      <i class="fa fa-forward"></i>
      <span class="lead">
        In this code, the fas class specifies that we're using a "solid" style
        icon, and the fa-thumbs-up class specifies which specific icon to use.
        You can find a full list of available icons and their class names on the
        FontAwesome website.
      </span>
    </div>
  </div>
  <div class="card row mt-2 mb-2 d-flex mx-auto">
    <img src="../static/images/area_2019.png" alt="" class="img-fluid" />
  </div>
  <div class="row mt-2 mb-2 d-flex mx-auto">
    <div class="card col-6">
      <img src="../static/images/Cause_wise.png" alt="" class="img-fluid" />
    </div>
    <div class="col-6"></div>
  </div>
  <div class="card row mt-2 mb-2 d-flex mx-auto">
    <img src="../static/images/city.png" alt="" class="img-fluid" />
  </div>
  <div class="card row mt-2 mb-2 mx-auto">
    <img src="../static/images/drunk.png" alt="" class="img-fluid" />
  </div>
  <div class="card row mt-2 mb-2 d-flex mx-auto">
    <img
      src="../static/images/Drunk_and_Drive_Accident_Cases_Accross_UTs_in_India.png"
      alt=""
      class="img-fluid"
    />
  </div>
  <div class="card row mt-2 mb-2 d-flex mx-auto">
    <img src="../static/images/Mode_combined.png" alt="" class="img-fluid" />
  </div>
  <div class="card row mt-2 mb-2 d-flex mx-auto">
    <img
      src="../static/images/States with Highest Death Rate-Yearly Analysis.png"
      alt=""
      class="img-fluid"
    />
  </div>
  <div class="card row mt-2 mb-2 d-flex mx-auto">
    <img
      src="../static/images/time_of_occurence.png"
      alt=""
      class="img-fluid"
    />
  </div>
  <div class="card row mt-2 mb-2 d-flex mx-auto">
    <img src="../static/images/two_wheel_ut.png" alt="" class="img-fluid" />
  </div>
  <div class="card row mt-2 mb-2 d-flex mx-auto">
    <img src="../static/images/two_wheel_states.png" alt="" class="img-fluid" />
  </div>

  <div class="card row mt-2 mb-2 d-flex mx-auto">
    <img
      src="../static/images/UTs with Highest Death Rate-Yearly Analysis.png"
      alt=""
      class="img-fluid"
    />
  </div>
  <div class="card row mt-2 mb-2 d-flex mx-auto">
    <img src="../static/images/YearVsDeathCount.png" alt="" class="img-fluid" />
  </div>
  <div class="card row mt-2 mb-2 d-flex mx-auto">
    <img
      src="../static/images/YearVsDeathCountBasedOnGender.png"
      alt=""
      class="img-fluid"
    />
  </div>
</div>
{% endblock %}
